.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  /* background: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/383690/f7a121a3f7a929ffb4dbc3ae241b3b4b6eaaed1d.jpg") no-repeat center center fixed;
  background-size: cover; */
  color: rgb(110, 177, 240);
}

#form {
  display: flex;
  align-items: center;
  font-weight: bold;
}

form label {
  margin: 7px;
}

/* For mobile the inputs are in column and the Button is smaller */
@media only screen and (max-width: 600px) {
  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form label {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 80px;
  }
}

/* Tablet and Desktop version the Button is bigger and more space between the inputs */
@media only screen and (min-width: 768px) {
  form label {
    margin: 25px;
  }
  .btn {
    width: 150px;
  }
}
