.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-position: center;
  background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/383690/f7a121a3f7a929ffb4dbc3ae241b3b4b6eaaed1d.jpg");
  color: whitesmoke;
}

form {
  display: flex;
  align-items: center;
  font-weight: bold;
}

form label {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
  }
}
